.node{
   width: 30px;
   height: 30px;
   border: 1px solid;
   font-size: 12px;
   transition: all 300ms ease;
}
.start{
   background: green;
}

.end{
   background: red;
}

.wall{
   background: black;
}

.visited{
   /* background: aqua; */
}

.path{
   background: yellow!important;
}